.about {
  margin-top: 0;
}

.about-img{
	width: 400px;
}

.about-text {
  width: 500px;
}

.main {
  width: 1130px;
  height: 200px;
  margin: 0 auto;
  /* max-width: 95%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: black;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: black;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

@media (min-width:320px) and (max-width:768px){ 
	.main{
		display: flex;
		width: 750px;
		flex-direction: column;
		justify-content: center;
		height: 700px;
		
		
		
	}

	.about-text{
		margin-top: 40px;
	}
	

}
