.mainhome{
	background-color: white;
	height: 90vh;
	width: 100%;
	display: flex;
}

.mainhome-intro{
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 100px;
	font-size: 30px;
	color: black;
}

.home-image{
	width: 50%;
	height: 80vh;
}

.homemain-image {
	margin: 50px auto;
	height: 80vh;
}

.title{
	animation-name: moveRight;
	animation-duration: 0.7s;
	
}

.titleTwo{
	animation-name: moveLeft;
	animation-duration: 1s;
}

.titleThree{
	animation-name: moveRight;
	animation-duration: 1.3s;
	color: black;
	margin-bottom: 10px;

}

.text{
	font-size: 40px;
	color: black;
	margin-bottom: 20px;
}


@keyframes moveRight {
	0%{
		opacity: 0;
		transform: translateX(100px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveLeft{
	0%{
		opacity: 0;
		transform: translateX(-150px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveUp{
	0%{
		opacity: 0;
		transform: translateY(50px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@media screen and (max-width: 1100px){

	.mainhome-intro{
		width:100vw;
		height: 80vh;
		display: flex;
		justify-content: center;
		font-size: 50px;
		margin: 0 auto;
		padding-left: 80px;
		flex-wrap: wrap;
	}

	.home-image{
		display: none;
		flex-wrap: wrap;
	}





	@media screen and (max-width:800px){

		.mainhome{
			flex-wrap: wrap;
		}
		.main-intro{
			padding-left: 40px;
			font-size: 40px;
			flex-wrap: wrap;
		}
		.home-image{
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 800px;
		}

	}

	@media screen and (max-width:600px){

		.mainhome{
			flex-wrap: wrap;
		}
		.mainhome-intro{
			font-size: 30px;
			flex-wrap: wrap;
		}
		.text{
			font-size: 24px;
			flex-wrap: wrap;
		}

		.home-image{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

	}


}